.esub-page {
  width: 100%;
  .esub-page-header {
    justify-content: center;
  }

  .esub-table-row {
    column-count: 2;
    display: block;
  }

  @media screen and (max-width: 991px) {
    .esub-table-row {
      column-count: 1;
      display: block;
    }
  }
}
